/*root variables*/
:root
{
    --color-text: #fff;
    --color-primary-100: #dee3ea;
    --color-primary-200: #b2bdcd;
    --color-primary-300: #5d7290;
    --color-primary-600: #323d4d;
    --color-primary-700: #242c37;
    --color-primary-800: #151a21;
    --color-primary-900: #0b0e11;
    --color-accent: #fd4d4d;
    --color-accent-hover: #fd6868;
    --color-accent-disabled: #f5bfbf;
    --color-secondary-washed-out: #879eed;
    --color-secondary: #5575e7;
}

.DefaultPage
{
    display: flex;
    flex-direction: column;
    background: var(--color-primary-900);
    color:var(--color-text);
    min-height: 100vh;
}

.PageContent
{
    display: flex;
    flex: 1;
    text-align: center;
}