/*Button*/

/*ButtonDefault*/
.ButtonDefault
{
    background-color: var(--color-accent);
    color:var(--color-text);
    border: solid transparent;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.2s linear;
}

.ButtonDefault:hover
{
    background-color: var(--color-accent-hover);
}

.ButtonDefault2
{
    background-color: var(--color-accent);
    color:var(--color-text);
    border: solid transparent;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.2s linear;
}


.ButtonDefault2:hover
{
    background-color: var(--color-accent-hover);
}

.ButtonDefault2NotClickable
{
    background-color: var(--color-accent);
    color:var(--color-text);
    border: solid transparent;
    border-radius: 0.5em;
    filter: brightness(40%);
}

/*ButtonTransparent*/
.ButtonTransparent
{
    background-color: transparent;
    color:var(--color-text);
    border: solid transparent;
    cursor: pointer;
    transition: all 0.2s linear;
}

.ButtonTransparent:hover
{
    color: var(--color-accent);
}

.ButtonTransparent2
{
    background-color: transparent;
    color:var(--color-text);
    border: solid transparent;
    cursor: pointer;
    transition: all 0.2s linear;
}

.ButtonTransparent2:hover
{
    color: var(--color-accent);
}

/*ButtonTransparentLightBlue*/
.ButtonTransparentLightBlue
{
    background-color: transparent;
    color:var(--color-primary-300);
    border: solid transparent;
    cursor: pointer;
    transition: all 0.2s linear;
}

.ButtonTransparentLightBlue:hover
{
    color: var(--color-accent);
}

/*ButtonImage*/
.ButtonImage
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*ButtonSearchBarDarkTheme*/
.ButtonSearchBarDarkTheme
{
    background-color: var(--color-primary-900);
    color:var(--color-primary-300);
    border: none;
    outline-width: 0;
}

.InputSearchBarDarkTheme:focus + .ButtonSearchBarDarkTheme
{
    color: var(--color-text);
}

/*InputText*/

/*InputTextDefault*/
/* .InputTextDefault
{
} */

/*InputTextNavigationBar*/
.InputSearchBarDarkTheme
{
    background-color: var(--color-primary-900);
    color:var(--color-text);
    border: none;
    outline-width: 0;
}

.InputSearchBarDarkTheme::placeholder
{
    color:var(--color-primary-300);
}

.ImputText
{
    background-color: var(--color-primary-700);
    color:var(--color-text);
    border: none;
    outline-width: 0;
}

.ImputText::placeholder
{
    color:var(--color-primary-300);
    border: none;
    outline-width: 0;
}

.ImputTextError{
    background-color: var(--color-primary-700);
    color:var(--color-text);
    border-color: var(--color-secondary);
    outline-width: 0;
}

.ImputTextError::placeholder
{
    color:var(--color-primary-300);
    border: none;
    outline-width: 0;
}