/*Footer*/
.Footer
{
    display: flex;
    background: var(--color-primary-700);
}

/*Footer Column*/
.ProjectFooter
{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 10px;
}

.MobileApplicationFooter
{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 10px;
    text-align: center;
}

.SupportFooter
{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 10px;
    text-align: center;
}

/*Logo*/
.LogoContainerFooter
{
    display: flex;
    margin: 10px 10px;
}

.LogoFooter
{
    border-radius: 10%;
    width: 80px;
    height: 60px;
}

.AppLogoContainerFooter
{
    margin: 10px 10px;
}

.AppLogoFooter
{
    width: 405px;
    height: 120px;
    margin: 10px 10px;
}

/*Text*/
.TittleContainerFooter
{
    flex:1;
    margin: 10px 10px;
    font-size: 125%;
    font-weight: bold;
}

.DescriptionContainerFooter
{
    flex: 1;
    margin: 10px 10px;
    text-align: left;
    color: var(--color-text);
}

/*Button*/
.ButtonContainerFooter
{
    flex: 1;
    margin: 10px 10px;
}

.ButtonTransparentLightBlue
{
    font-size: 100%;
    font-weight: bold;
}

/*Diffrent Screen Size*/
@media screen and (max-width: 1200px) 
{
    .SupportFooter
    {
      display: none;
      visibility: hidden;
    }
}

@media screen and (max-width: 1500px) 
{
    .ProjectFooter
    {
        display: none;
        visibility: hidden;
    }
}