/*NavigationBar*/
.NavigationBar 
{
	position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    background: var(--color-primary-700);
}

.NavigationBarContainer
{
    display: flex;
}

/*Logo*/
.LogoContainerNavigationBar
{
    display: flex;
    margin: 10px 10px;
}

.LogoNavigationBar
{
    border-radius: 10%;
    width: 93px;
    height: 70px;
}

/*Button*/
.ButtonContainerNavigationBar
{
    display: flex;
    flex: 1;
    margin: 10px 10px;
}

.ButtonDefault
{
    flex: 1;
    font-size: 125%;
    font-weight: bold;
    margin: 10px 10px;
}

.ButtonTransparent
{
    flex: 1;
    font-size: 125%;
    font-weight: bold;
    margin: 10px 10px;
}

.ButtonImage
{
    margin: 10px 10px;
}

/*SearchBar*/
.SearchBarContainerNavigationBar
{
    display: flex;
    align-items: center;
    flex: 1;
    margin: 10px 10px;
}

.SearchBarNavigationBar
{
    display: flex;
    flex: 1;
    background-color: var(--color-primary-700);
    border-radius: 10%;
    margin: 10px 10px;
}

.InputSearchBarDarkTheme
{
    flex: 1;
    padding: 10px;
    font-size:125%;
}

/*Sidebar*/
.Sidebar
{
    background-color: var(--color-primary-700);
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: var(--color-primary-300);
}
  
.Sidebar.active 
{
    left: 0;
    transition: 350ms;
}

.SideBarContainer
{
    display: flex;
    height: 115px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--color-primary-300);
}

/*Diffrent Screen Size*/
@media screen and (max-width: 1200px) 
{
    .NavigationBar{
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        background: var(--color-primary-700);
    }
    .LogoContainerNavigationBar
    {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 10px 10px;
    }
}