.Register{
    display: flex;
    flex: 1;
    flex-direction: column;
    background: var(--color-primary-800);
    margin: 20px 20px;
    border-radius: 0.5em;
}

.TittleContainerRegister
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 10px 10px;
    font-size: 200%;
    font-weight: bold;
}

.ContainerRegister
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 10px 10px;
}

.ButtonDefault2
{
    font-size: 125%;
    padding: 1% 2%;
    font-weight: bold;
    margin: 10px 10px;
}

.ButtonDefault2NotClickable
{
    font-size: 125%;
    padding: 1% 2%;
    font-weight: bold;
    margin: 10px 10px;
}

.ImputText
{
    padding: 10px;
    font-size: 125%;
    width: 16rem;
}

.ErrorMessage
{
    padding: 10px;
    color: var(--color-secondary);
    text-align: left;
}